
.main-content {
  color: white;
  position: relative;
  z-index: 1;
  padding: 12rem;

  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;

  background: #000000;
  color: #ffffff;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  gap: 7rem;
}


.hero-content {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.hero-content h1 {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

  font-size: 18rem;
  line-height: 0.5;

  margin: 0;
}

.hero-content p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;

  font-size: 3.5rem;
  line-height: 1;

  margin-bottom: 2rem;
}
