* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background: #000000;
  color: #ffffff;
}

.main-content {
  color: white;
  position: relative;
  z-index: 1;
  padding: 6rem 14rem;

  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

  font-size: 15rem;
  line-height: 0.7;

  margin: 0;
}

.main-content div {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  font-size: 2rem;
  line-height: 1;
}

.item-img-small {
  width: 70px;
  height: 45px;
  overflow: hidden;
  border-radius: 15px;
}


.dynamic-layout div {
  padding-bottom: 7px;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.horizontal-list a {
  padding-right: 15px;
}